flask
flask-restx
flask-jwt-extended
flask-sqlalchemy
flask-migrate
python-dotenv
flask-cors
psycopg2-binary
requests
pytest
pytest-flask
pytest-mock
authlib
google-auth
google-auth-oauthlib
google-auth-httplib2
